_target_: didactic.models.tabpfn_encoder.TabPFNEncoder
model_path: /home/stympopper/didacticJerem/ckpts/tabpfn-v2-classifier.ckpt
seed: ${seed}
which: classifier # regressor
fit_mode: fit_preprocessors # fit_preprocessors, low_memory, fit_with_cache
random_init: False # Whether to randomly initialize the TabPFN weights instead of loading pretrained weights