# Define a hidden node for common settings
_base_tabpfn_vars:
  model_path: ${oc.env:TABPFN_MODEL_PATH}
  check_bar_distribution_criterion: False
  cache_trainset_representation: False
  which: classifier
  fit_mode: fit_preprocessors
  version: v2

# The actual target
_target_: tspfn.architecture.tspfn_encoder.TSPFNEncoder
seed: ${seed}

# Merge them here using OmegaConf's merge syntax
tabpfn_kwargs: ${oc.dict.merge: ${_base_tabpfn_vars}, ${tabpfn_args: ${_base_tabpfn_vars.version}, False}}

updated_pfn_path: ${updated_pfn_path}
random_init: False