_target_: tspfn.architecture.tspfn_encoder.TSPFNEncoder
model_path: ${pfn_path}
seed: ${seed}
which: classifier # regressor
fit_mode: fit_preprocessors # fit_preprocessors, low_memory, fit_with_cache
random_init: False # Whether to randomly initialize the TabPFN weights instead of loading pretrained weights